.env

node_modules/

dist/

*.log

backend/prisma/dev.db

mobile-app/

sdg-recycling-ecosystem.code-workspace

postman/

sdg-recycling-ecosystem-student-3/

student3-review.md

docker-compose.yml

README.md

docs/

sdg-recycling-ecosystem-android_app_integration/
